* {
    -fx-color_transparent: rgba(255, 255, 255, 0);
    -fx-color_white_1: rgb(255, 255, 255);
    -fx-color_white_2: rgb(233, 233, 230);
    -fx-color_gray_1: rgb(170, 170, 170);
    -fx-color_black_1: rgb(0, 0, 0);
    -fx-color_black_2: rgb(33, 33, 33);
    -fx-color_black_3: rgba(33, 33, 33, 0.7);
    -fx-color_blue_1: rgb(14, 104, 199);
    -fx-color_blue_2: rgb(16, 80, 148);
    -fx-color_blue_2: rgb(150, 177, 194);
    -fx-color_green_1: rgb(0, 146, 56);
    -fx-color_green_2: rgb(0, 204, 102);
    -fx-color_yellow_1: rgb(255, 202, 69);
    -fx-color_red_1: rgb(255, 45, 45);
    -fx-color_red_2: rgb(188, 82, 82);
}
/* @font-face {
	-fx-font-family: 'core_sans';
	-fx-src: url("/fonts/Core_Sans_CR_35_Light.ttf");
} */
/* ==================================== */

/* C_main */
.c_main {
    -fx-background-color: rgb(33, 33, 33);
}
.box_title {
    -fx-background-color: rgb(233, 233, 230);
}
    .box_title_btn {
        -fx-max-width: 28px;
        -fx-min-width: 28px;
        -fx-max-height: 28px;
        -fx-min-height: 28px;
        -fx-border: none;
        -fx-background-color: none;
    }
    .box_title_btn :hover {
        -fx-background-color: tomato;
    }


.box_bottom {
    -fx-background-color: rgb(16, 80, 148);
}
.box_left {
    -fx-background-color: rgb(16, 80, 148);
}